{% extends 'base.html' %}

{% block app_content %}
    <div class="col-md-10 col-sm-12 col-md-offset-1">
        <div align="right">
            <a href="{{ url_for('spends.addcar') }}" class="btn btn-primary">{{ _('Add car') }}</a>
        </div>
        <h1 align="center">{{ _('My Cars') }}</h1>
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th>{{ _('Manufacturer') }}</th>
                        <th>{{ _('Model') }}</th>
                        <th>{{ _('Fuel type') }}</th>
                        <th>{{ _('Engine volume') }}</th>
                        <th>{{ _('Engine power') }}</th>
                        <th>{{ _('Trip') }}</th>
                    </tr>
                </thead>
                {% for car in cars %}
                    <tr>
                        <td>{{ car.model.manufacturer }}</td>
                        <td>{{ car.model.model }}</td>
                        <td>{{ car.model.fuel_type }}</td>
                        <td>{{ car.model.engine_volume }}</td>
                        <td>{{ car.model.engine_power }}</td>
                        <td>{{ car.trip }}</td>
                    </tr>
                {% endfor %}
            </table>
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> {{ _('Previous') }}
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            {{ _('Next') }} <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
{% endblock %}