{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row justify-content-center" id="spendsTable">
    <div class="col-md-auto text-center">
        <h1>{{ _('Spends table') }}</h1>
            <div class="btn-group mb-2" role="group">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addSpendModal">
                    {{ _('Add spend')}}
                </button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addSpendTypeModal">
                    {{ _('Add spend type')}}
                </button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myCarsModal">
                    {{ _('My cars')}}
                </button>
            </div>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>{{ _('Date') }}</th>
                        <th>{{ _('Trip') }}</th>
                        <th>{{ _('Spend type') }}</th>
                        <th>{{ _('Price') }}</th>
                        <th>{{ _('Amount') }}</th>
                        <th>{{ _('Sum') }}</th>
                        <th>{{ _('Action') }}</th>
                    </tr>
                </thead>
                {% for spend in spends %}
                    <tr class="text-left">
                        <td>{{ moment(spend.timestamp).format('LL') }}</td>
                        <td>{{ spend.trip }}</td>
                        <td>{{ spend.type.type }}</td>
                        <td>{{ money_format(spend.price) }}</td>
                        <td>{{ spend.amount }}</td>
                        <td>{{ money_format(spend.price * spend.amount) }}</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#acceptSpendDellModal" data-whatever={{ spend.id }}>
                                <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item{% if not prev_url %} disabled{% endif %}">
                        <a class="page-link" href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> {{ _('Previous') }}
                        </a>
                    </li>
                    <li class="page-item{% if not next_url %} disabled{% endif %}">
                        <a class="page-link" href="{{ next_url or '#' }}">
                            {{ _('Next') }} <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
    </div>


<!-- Modal -->
<div class="modal fade" id="addSpendModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ _('Add spend') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{ wtf.quick_form(add_spend_form) }}
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="addSpendTypeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ _('Add spend type') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{ wtf.quick_form(add_spend_type_form) }}
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="myCarsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ _('My cars') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addNewCarCollapse" aria-expanded="false" aria-controls="addNewCarCollapse">
                    {{ _('Add new car') }}
                </button>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addNewModelCollapse" aria-expanded="false" aria-controls="addNewModelCollapse">
                    {{ _('Add new model') }}
                </button>
            </p>
            <div class="collapse" id="addNewCarCollapse">
                <div class="card card-body mb-2">
                    <h5>{{ _('Add new car') }}</h5>
                    {{ wtf.quick_form(add_car_form) }}
                </div>
            </div>
            <div class="collapse" id="addNewModelCollapse">
                <div class="card card-body mb-2">
                    <h5>{{ _('Add new model') }}</h5>
                    {{ wtf.quick_form(add_new_car_form) }}
                </div>
            </div>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>{{ _('Manufacturer') }}</th>
                        <th>{{ _('Model') }}</th>
                        <th>{{ _('Fuel type') }}</th>
                        <th>{{ _('Engine volume') }}</th>
                        <th>{{ _('Engine power') }}</th>
                        <th>{{ _('Trip') }}</th>
                        <th>{{ _('Delete') }}</th>
                    </tr>
                </thead>
                {% for car in cars %}
                    <tr>
                        <td>{{ car.model.manufacturer }}</td>
                        <td>{{ car.model.model }}</td>
                        <td>{{ car.model.fuel_type }}</td>
                        <td>{{ car.model.engine_volume }}</td>
                        <td>{{ car.model.engine_power }}</td>
                        <td>{{ car.trip }}</td>
                        <td><a href="{{ url_for('spends.dellcar', id=car.id) }}" class="btn btn-primary">{{ _('Delete') }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="acceptSpendDellModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ _('Dell spend') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{ _('Do you realy want dell this spend?') }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <a href="#" type="button" class="btn btn-primary">Dell</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
    $('#acceptSpendDellModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var id = button.data('whatever')
        console.log(id)
        var modal = $(this)
        modal.find('.modal-footer a').attr("href", "/spends/car/dellspend/" + id)
    })
</script>
{% endblock %}