{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - {{ _('Spend control') }}{% else %}{{ _('Spend control') }}{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img src="https://s.gravatar.com/avatar/f9eca48d6c9afa6dbeeefc3484b4985d?s=80" width="30" height="30" alt="">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
                <li><a href="{{ url_for('spends.index') }}">{{ _('Spends') }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">{{ _('Sign in') }}</a></li>
                    <li><a href="{{ url_for('auth.register') }}">{{ _('Sign up') }}</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.logout') }}">{{ _('Sign out') }}</a> </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            	<div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
    
</div>
<div class="row align-items-end">
    <hr>
    <div class="col-md-2 col-sm-4 col-md-offset-5 col-sm-offset-4 text-center">
        <img src="{{ qrcode('https://exp-shell-app-assets.s3.us-west-1.amazonaws.com/android/%40alxegorov/spend_control_mobile-2a78ab1f705944eda118a3117b21d2f4-signed.apk', box_size=2, border=0) }}">
        <p>Android App</p>
    </div>
</div>
{% endblock %}
