{% extends "base.html" %}

{% block app_content %}
<div class="row">
    <div class="col-sm-4">
        <h4>Spends</h4>
        <p>Liabilities. Expenditure. Something that requires resources.</p>
        <a href="#" class="btn btn-primary">Go to spends</a>
    </div>
    <div class="col-sm-4">
        <h4>Incomes</h4>
        <p>Assets. Resources. Incomes. Sources of financial development.</p>
        <a href="#" class="btn btn-primary">Go to incomes</a>
    </div>
    <div class="col-sm-4">
        <h4>Analytics</h4>
        <p>Analytics of the difference between income and expenses.</p>
        <a href="#" class="btn btn-primary">Go to analytics</a>
    </div>
</div>
{% endblock %}