{% extends "base.html" %}

{% block app_content %}
<div class="row justify-content-center">
    <div class="col-md-auto text-center">
        <h1>{{ _('Gas prices') }}</h1>
        <div class="dropdown text-left mb-3">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ _('Fuel type') }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ url_for('main.index') }}">{{ _('All') }}</a>
                {% for type in fuel_type %}
                    <a class="dropdown-item" href="{{ url_for('main.index', ftype=type.id) }}">{{ type.title }}</a>
                {% endfor %}
            </div>
        </div>
        <canvas id="fuel_price" width="1000" height="600"></canvas>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    function draw(){
        var ctx = document.getElementById('fuel_price').getContext('2d');
        var data = JSON.parse("{{ data }}".replace(/&#39;/g,'"')).sort((a,b) => {
            if (a.date > b.date) {
                return 1;
            }
            if (a.date < b.date) {
                return -1;
            }
            return 0;
        })

        var x0 = 55;
        var xm = 1000;
        var y0 = 570;
        var ym = 28;

        var xl = 6;
        var yl = 11;

        var dx = (xm-x0)/xl
        var dy = (y0-ym)/(yl-1)

        // Grid
        ctx.strokeStyle = "#d5d5d5";
        ctx.lineWidth = 0.8
        // Horizontal lines
        for(var i=0;i<yl;i++){
            ctx.beginPath();
            ctx.moveTo(x0-10,ym+dy*i);
            ctx.lineTo(xm,ym+dy*i);
            ctx.stroke();
        }
        // Vertical lines
        for(var i=0;i<xl;i++){
            ctx.beginPath();
            ctx.moveTo(x0+dx*i,ym);
            ctx.lineTo(x0+dx*i,y0+10);
            ctx.stroke();
        }
        
        // Time line
        var dates = data.map(item => Date.parse(item.date))
        var datedelta = (dates[dates.length-1] - dates[0])/xl;
        ctx.font = "16px Helvetica";
        for(var i=0;i<xl;i++){
            ctx.fillText(formatDate(dates[0] + datedelta*i), x0-32+dx*i, y0+30)
        }

        // Value line
        var values = data.map(item => item.value).sort((a,b) => (a-b))
        var valuedelta = (values[values.length - 1] - values[0])/(yl - 3)
        for(var i=0;i<yl;i++){
            ctx.fillText((values[0] + valuedelta*(i-1)).toFixed(2), x0-55, y0+6-dy*i)
        }

        // Graf lines 
        ddx = (xm-x0)/(datedelta*xl)
        ddy = (y0-ym)/(valuedelta*(yl-1))
        var types = [...new Set(data.map(item => item.type))]
        var i = 1;
        for(var type of types){
            var dataset = data.filter(item => item.type == type)
            ctx.strokeStyle = 'rgb(255,' +
                       Math.floor(255-255/i) + ',0)';
            ctx.beginPath();
            ctx.moveTo(x0+(Date.parse(dataset[0].date) - dates[0])*ddx, 
                       y0-(dataset[0].value-values[0]+valuedelta)*ddy)
            for(var item of dataset) {
                var x = x0+(Date.parse(item.date) - dates[0])*ddx
                var y = y0-(item.value-(values[0] - valuedelta))*ddy
                ctx.lineTo(x, y)
            }
            ctx.stroke()
            // Legend
            ctx.beginPath();
            ctx.moveTo(x0+350*(i-1), ym-21);
            ctx.lineTo(x0+40+350*(i-1), ym-21);
            ctx.stroke();
            ctx.fillText(type, x0+45+350*(i-1), ym-16)
            i++;
        }
    }

    function formatDate(ms){
        var ms = new Date(ms);
        var dtf = new Intl.DateTimeFormat('en', { year: '2-digit', month: '2-digit', day: '2-digit' }) 
        var [{ value: mo },,{ value: da },,{ value: ye }] = dtf.formatToParts(ms) 
        return (`${da}.${mo}.${ye}`)
    }

    draw()
</script>
{% endblock %}